<form *ngIf="!viewMode" fxLayout="row wrap" [formGroup]="vitalsForm" autocomplete="off">

  <div fxFlex="100%" fxLayout="row wrap" [fxLayoutGap]="curStaff.gapBetweenControls">
    <mat-form-field style="line-height: 20px;" [fxFlex]="curStaff.compactness" hintLabel="{{strTempHint}}">
      <input matInput placeholder="{{'temperature' | translate }}" type="number" name="temperature"
        [formControl]="temperature">
      <mat-error *ngIf="temperature.hasError('required')">{{ utilities.getErrorMessage(temperature) | translate }}
      </mat-error>
      <mat-error *ngIf="!temperature.hasError('required') && temperature.invalid">{{strTempHint}}</mat-error>
    </mat-form-field>

    <mat-form-field style="line-height: 20px;" [fxFlex]="curStaff.compactness" hintLabel="{{strPulseHint}}">
      <input matInput placeholder="{{'pulse_rate' | translate }}" type="number" name="pulseRate"
        [formControl]="pulseRate">
      <mat-error *ngIf="pulseRate.hasError('required')">{{ utilities.getErrorMessage(pulseRate) | translate }}
      </mat-error>
      <mat-error *ngIf="!pulseRate.hasError('required') && pulseRate.invalid">{{strPulseHint}}</mat-error>
    </mat-form-field>

    <mat-form-field style="line-height: 20px;" [fxFlex]="curStaff.compactness" hintLabel="{{strPulseHint}}">
      <input matInput placeholder="{{'Heart Rate' | translate }}" type="number" name="heartRate">
    </mat-form-field>

    <mat-form-field style="line-height: 20px;" [fxFlex]="curStaff.compactness" hintLabel="{{strRespHint}}">
      <input matInput placeholder="{{'respiratory_rate' | translate }}" type="number" name="respRate"
        [formControl]="respRate">
      <mat-error *ngIf="respRate.hasError('required')">{{ utilities.getErrorMessage(respRate) | translate }}
      </mat-error>
      <mat-error *ngIf="!respRate.hasError('required') && respRate.invalid">{{strRespHint}}</mat-error>
    </mat-form-field>

    <mat-form-field style="line-height: 20px;" [fxFlex]="curStaff.compactness" hintLabel="{{strSysHint}}">
      <input matInput placeholder="{{'systolic_bp' | translate }}" type="number" name="systolicBp"
        [formControl]="systolicBp">
      <mat-error *ngIf="systolicBp.hasError('required')">{{ utilities.getErrorMessage(systolicBp) | translate }}
      </mat-error>
      <mat-error *ngIf="!systolicBp.hasError('required') && systolicBp.invalid">{{strSysHint}}</mat-error>
    </mat-form-field>

    <mat-form-field style="line-height: 20px;" [fxFlex]="curStaff.compactness" hintLabel="{{strDiaHint}}">
      <input matInput placeholder="{{'diastolic_bp' | translate }}" type="number" name="diastolicBp"
        [formControl]="diastolicBp">
      <mat-error *ngIf="diastolicBp.hasError('required')">{{ utilities.getErrorMessage(diastolicBp) | translate }}
      </mat-error>
      <mat-error *ngIf="!diastolicBp.hasError('required') && diastolicBp.invalid">{{strDiaHint}}</mat-error>
    </mat-form-field>


  </div>

  <button class="save-btn" *ngIf="curStaff.allowDataSave()" mat-button [disabled]="vitalsForm.invalid"
    (click)="saveVitals()">{{
    'save' | translate }}</button>


</form>

<div *ngIf="viewMode">
  <mat-card class="mat-table-container">
    <mat-card-content>
      <div class="line-height-25" *ngIf="temperature.value">Temperature: {{temperature.value}} degrees</div>
      <div class="line-height-25" *ngIf="pulseRate.value">Pulse Rate: {{pulseRate.value}} bpm </div>
      <div class="line-height-25" *ngIf="respRate.value">Respiratory Rate: {{respRate.value}} </div>
      <div class="line-height-25" *ngIf="systolicBp.value && diastolicBp.value">BP: {{systolicBp.value}}/
        {{diastolicBp.value}} </div>
    </mat-card-content>
  </mat-card>
</div>