.marginTop6 {
    margin-top: 6px;
}

.marginTop2 {
    margin-top: 1px;
}

.active-list-item {
    background-color: #004b1c !important;
    color: white !important;
}

mat-nav-list
{
    background-color: #217346 !important;
    overflow: hidden;
}

span{
    color: white !important;
}

mat-icon
{
    color: white !important;
}

