<table>
    <tr>
        <th style="min-width: 250px">Name</th>
        <th style="min-width: 100px">Count</th>                                    
    </tr>
    <tr>
        <td>Today's Total Visits</td>
        <td>{{todayTotalVisits}}</td>
    </tr>
    <tr>
        <td>Open Visits</td>
        <td>{{todayOpenVisits}}</td>
    </tr>
    <tr>
        <td>Closed Visits</td>
        <td>{{todayClosedVisits}}</td>
    </tr>
    <tr>
        <td>New Visits</td>
        <td>{{todayNewVisits}}</td>
    </tr>
    <tr>
        <td>Repeat Visits</td>
        <td>{{todayRepeatVisits}}</td>
    </tr>
    <tr>
        <td>Pending Upload Count</td>
        <td>{{pendingUploadCount}}</td>
    </tr>

</table>