<div fxLayout="row" fxLayoutAlign="start start">

    <div fxFlex="20px"></div>

    <div fxFlex="75%">
        <mat-card style="margin-top: 15px; padding: 0;">

            <mat-card-content style="margin: 10px; padding : 25px">


                <div *ngIf="caseSheetService.encounterComplaintsData.length !=0">

                    <h2>Complaints</h2>
                    <p *ngFor=" let data of caseSheetService.encounterComplaintsData">

                        <span *ngIf="data['complaints']">Complaint : {{data["complaints"]}}</span> &nbsp; &nbsp;
                        <span *ngIf="data['duration']">Duration : {{data["duration"]}}</span> &nbsp; &nbsp;
                        <span *ngIf="data['location']">Location : {{data["location"]}}</span> </p>

                </div>



                <div style="padding-top: 5px;" *ngIf="caseSheetService.encounterComplaintHistoryData.length !=0">

                    <h2>Complaints History</h2>

                    <p *ngFor=" let data of caseSheetService.encounterComplaintHistoryData">
                        <span *ngIf="data['complaints']">{{data["complaints"]}}</span> &nbsp; &nbsp;
                        <span *ngIf="data['serverity']"> {{data["serverity"]}}</span> &nbsp; &nbsp;
                        <span *ngIf="data['duration']">{{data["duration"]}}</span> &nbsp; &nbsp;
                        <span *ngIf="data['onset']">{{data["onset"]}}</span> &nbsp; &nbsp;
                        <span *ngIf="data['isRecurring']">{{data["isRecurring"]}}</span> &nbsp; &nbsp;
                        <span *ngIf="data['recurring_freq']">{{data["recurring_freq"]}}</span> <br>
                        <span *ngIf="data['characteristics']">Characteristics : {{data["characteristics"]}}</span> <br>
                        <span *ngIf="data['sensation']">Sensation : {{data["sensation"]}}</span> <br>
                        <span *ngIf="data['aggravation']">Aggravation : {{data["aggravation"]}}</span> <br>
                        <span *ngIf="data['complaints']">Amelioration : {{data["complaints"]}}</span> <br>
                        <span *ngIf="data['amelioration']">Modality : {{data["amelioration"]}}</span> <br>
                        <span *ngIf="data['symptoms']">Symptoms : {{data["symptoms"]}}</span>

                    </p>
                </div>



                <div style="padding-top: 5px;" *ngIf="caseSheetService.encounterTreatmentHistoryData.length !=0">

                    <h2>Personal Treatment History</h2>

                    <p *ngFor="let data of caseSheetService.encounterTreatmentHistoryData">
                        <span *ngIf="data['medical_history']">Medical History :
                            {{data["medical_history"]}}</span>&nbsp;&nbsp;
                        <span *ngIf="data['other_medical']">Other MedicalHistory :
                            {{data["other_medical"]}}</span>&nbsp;&nbsp;
                        <span *ngIf="data['medicines_used']"></span> Medicines Used : {{ data["medicines_used"]}}
                        <span *ngIf="data['outcome']"></span> Outcome : {{data["outcome"]}}
                    </p>
                </div>



                <div style="padding-top: 5px;" *ngIf="caseSheetService.encounterVaccinationData.length !=0">

                    <h2>Vaccination Mishap</h2>

                    <p *ngIf="caseSheetService.encounterVaccinationData[0]['vaccination']"> Vaccination :
                        {{caseSheetService.encounterVaccinationData[0]["vaccination"]}} </p>

                </div>

                <div *ngIf="caseSheetService.encounterSurgicalData.length !=0" style="padding-top: 5px;">

                    <h2>Surgical Past History</h2>

                    <p *ngFor=" let data of caseSheetService.encounterSurgicalData">
                        <span *ngIf="data['surgical_name']"> Surgical Name : {{data["surgical_name"]}}</span>
                        &nbsp; &nbsp;
                        <span *ngIf="data['other_surgical']"> Other Medicalhistory : {{data["other_surgical"]}}</span>
                    </p>

                </div>



                <div *ngIf="caseSheetService.encounterFamilyData.length !=0" style="padding-top: 5px;">

                    <h2>Family History</h2>

                    <p *ngFor=" let data of caseSheetService.encounterFamilyData">
                        <span *ngIf="data['relation_name']">Relation : {{data["relation_name"]}}</span> &nbsp; &nbsp;
                        <span *ngIf="data['medical_name']">Medical History : {{data["medical_name"]}}</span> &nbsp;
                        &nbsp;
                        <span *ngIf="data['other_medical']">Other Medicalhistory : {{data["other_medical"]}}</span> </p>

                </div>


                <div *ngIf="caseSheetService.encounterCurrentMedicationData.length !=0" style="padding-top: 5px;">

                    <h2>Current Medication</h2>

                    <p *ngFor=" let data of caseSheetService.encounterCurrentMedicationData">
                        <span *ngIf="data['medicine_name']"> Medicine Name : {{data["medicine_name"]}}</span> &nbsp;
                        &nbsp;
                        <span *ngIf="data['dosage']"> Dosage : {{data["dosage"]}} </span>&nbsp; &nbsp;
                        <span *ngIf="data['freq']"> Frequency : {{data["freq"]}} </span>&nbsp; &nbsp;
                        <span *ngIf="data['since']">Since : {{data["since"]}} </span>
                    </p>

                </div>


                <div style="padding-top: 5px;" *ngIf="caseSheetService.encounterMeasurementsData.length !=0">

                    <h2>Measurements</h2>

                    <p>
                        <span *ngIf="caseSheetService.encounterMeasurementsData[0]['height']">Height :
                            {{caseSheetService.encounterMeasurementsData[0]["height"]}} cms</span>
                        &nbsp; &nbsp;
                        <span *ngIf="caseSheetService.encounterMeasurementsData[0]['weight']">
                            Weight : {{caseSheetService.encounterMeasurementsData[0]["weight"]}} kgs </span> &nbsp;
                        &nbsp;
                        <span *ngIf="caseSheetService.encounterMeasurementsData[0]['bmi']">Bmi :
                            {{caseSheetService.encounterMeasurementsData[0]["bmi"]}} kg/m^2</span>
                        &nbsp; &nbsp;
                        <span *ngIf="caseSheetService.encounterMeasurementsData[0]['waist']">Waist :
                            {{caseSheetService.encounterMeasurementsData[0]["waist"]}} cms</span>
                        &nbsp; &nbsp;


                    </p>
                </div>



                <div style="padding-top: 5px;" *ngIf="caseSheetService.encounterVitalsData.length !=0">

                    <h2>Vitals</h2>

                    <p>
                        <span *ngIf="caseSheetService.encounterVitalsData[0]['temperature']">Temperature :
                            {{caseSheetService.encounterVitalsData[0]["temperature"]}} °F</span>
                        &nbsp; &nbsp;
                        <span *ngIf="caseSheetService.encounterVitalsData[0]['pulse_rate']">
                            Pulse Rate : {{caseSheetService.encounterVitalsData[0]["pulse_rate"]}} per min </span>
                        &nbsp;
                        &nbsp;
                        <span *ngIf="caseSheetService.encounterVitalsData[0]['heart_rate']">Heart Rate :
                            {{caseSheetService.encounterVitalsData[0]["heart_rate"]}} per min</span>
                        &nbsp; &nbsp;
                        <span *ngIf="caseSheetService.encounterVitalsData[0]['resp_rate']">Respiratory Rate :
                            {{caseSheetService.encounterVitalsData[0]["resp_rate"]}} per min</span>
                        &nbsp; &nbsp;
                        <span *ngIf="caseSheetService.encounterVitalsData[0]['bp_systolic']">Bp Systolic :
                            {{caseSheetService.encounterVitalsData[0]["bp_systolic"]}} mm Hg
                        </span>
                        &nbsp; &nbsp;
                        <span *ngIf="caseSheetService.encounterVitalsData[0]['bp_diastolic']">Bp Diastolic :
                            {{caseSheetService.encounterVitalsData[0]["bp_diastolic"]}} mm Hg
                        </span>



                    </p>
                </div>



                <div style="padding-top: 5px;" *ngIf="caseSheetService.encounterSystemicData.length !=0">

                    <h2>Systemic Examination</h2>

                    <p>
                        <span *ngIf="caseSheetService.encounterSystemicData[0]['resp_sys']">Respiratory System :
                            {{caseSheetService.encounterSystemicData[0]["resp_sys"]}} </span>
                        &nbsp; &nbsp;
                        <span *ngIf="caseSheetService.encounterSystemicData[0]['cardio_sys']">
                            Cardiovascular System : {{caseSheetService.encounterSystemicData[0]["cardio_sys"]}} </span>
                        &nbsp;
                        &nbsp;
                        <span *ngIf="caseSheetService.encounterSystemicData[0]['gastro_sys']">Gastrointestinal System :
                            {{caseSheetService.encounterSystemicData[0]["gastro_sys"]}} </span>
                        &nbsp; &nbsp;
                        <span *ngIf="caseSheetService.encounterSystemicData[0]['nervous_sys']">Central Nervous System :
                            {{caseSheetService.encounterSystemicData[0]["nervous_sys"]}} </span>
                        &nbsp; &nbsp;
                        <span *ngIf="caseSheetService.encounterSystemicData[0]['genito_sys']">Genitourinary System :
                            {{caseSheetService.encounterSystemicData[0]["genito_sys"]}}
                        </span>
                        &nbsp; &nbsp;
                        <span *ngIf="caseSheetService.encounterSystemicData[0]['musculo_sys']">Musculoskeletal System :
                            {{caseSheetService.encounterSystemicData[0]["musculo_sys"]}}
                        </span> &nbsp; &nbsp;

                        <span *ngIf="caseSheetService.encounterSystemicData[0]['other_findings']">Other findings :
                            {{caseSheetService.encounterSystemicData[0]["other_findings"]}}
                        </span>



                    </p>
                </div>


                <div style="padding-top: 5px;" *ngIf="caseSheetService.encounterGeneralData.length !=0">

                    <h2>General Examination</h2>

                    <p>
                        <span *ngIf="caseSheetService.encounterGeneralData[0]['pallor']">Pallor :
                            {{caseSheetService.encounterGeneralData[0]["pallor"]}} </span>
                        &nbsp; &nbsp;
                        <span *ngIf="caseSheetService.encounterGeneralData[0]['jaundice']">
                            Icterus : {{caseSheetService.encounterGeneralData[0]["jaundice"]}} </span>
                        &nbsp;
                        &nbsp;
                        <span *ngIf="caseSheetService.encounterGeneralData[0]['cyanosis']">Cyanosis :
                            {{caseSheetService.encounterGeneralData[0]["cyanosis"]}} </span>
                        &nbsp; &nbsp;
                        <span *ngIf="caseSheetService.encounterGeneralData[0]['clubbing']">Clubbing :
                            {{caseSheetService.encounterGeneralData[0]["clubbing"]}} </span>
                        &nbsp; &nbsp;
                        <span *ngIf="caseSheetService.encounterGeneralData[0]['gingivitis']">Gum Gingivitis :
                            {{caseSheetService.encounterGeneralData[0]["gingivitis"]}}
                        </span>
                        &nbsp; &nbsp;
                        <span *ngIf="caseSheetService.encounterGeneralData[0]['lympha']">Lymphadenopathy :
                            {{caseSheetService.encounterGeneralData[0]["lympha"]}}
                        </span> &nbsp; &nbsp;

                        <span *ngIf="caseSheetService.encounterGeneralData[0]['lympha_remarks']">Lympha Remarks :
                            {{caseSheetService.encounterGeneralData[0]["lympha_remarks"]}}
                        </span> &nbsp; &nbsp;

                        <span *ngIf="caseSheetService.encounterGeneralData[0]['edema']">Edema :
                            {{caseSheetService.encounterGeneralData[0]["edema"]}}
                        </span> &nbsp; &nbsp;

                        <span *ngIf="caseSheetService.encounterGeneralData[0]['edema_remarks']">Edema Remarks :
                            {{caseSheetService.encounterGeneralData[0]["edema_remarks"]}}
                        </span>



                    </p>
                </div>










            </mat-card-content>
        </mat-card>
    </div>

    <div fxFlex="20px"></div>

    <app-ben-details fxFlex="20%"></app-ben-details>

</div>