@media print{
   .doNotPrint{display:none !important;}
 }
 
 .mat-table-container {
    width: 100%;    
}

.prescription-drugs ::ng-deep .mat-input-underline {
    display: none;
 }

 .prescription-drugs ::ng-deep .mat-form-field-wrapper {
    padding-bottom: 0;
 }

 .prescription-drugs ::ng-deep .mat-form-field-infix {
    border-top: 0;
 }
 
 .headers-align .mat-expansion-panel-header-title,
.headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}
