.container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.sidenav-container {
  /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
     causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
  flex: 1;
}

.is-mobile .sidenav-container {
  /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
     `<body>` to be our scrolling element for mobile layouts. */
  flex: 1 0 auto;
}

.sidebar {
    height: 100%;
}

::ng-deep .mat-progress-bar-fill::after {
  background-color: rgb(57, 100, 8);
}

::ng-deep .mat-progress-bar-buffer {
  background: #fff;
}


::ng-deep .mat-form-field-placeholder{
  font-size: 17px !important;
  color: #333;
}

::ng-deep .mat-focused .mat-form-field-placeholder{
  font-size: 17px !important;
  color: #333;
}
